{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Rate Me plugin for Craft CMS 3.x
 *
 * Rate Me index.twig
 *
 * @author    @cole007
 * @copyright Copyright (c) 2019 @cole007
 * @link      http://ournameismud.co.uk/
 * @package   RateMe
 * @since     1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ournameismud\\rateme\\assetbundles\\rateme\\RateMeAsset") %}
{% do view.registerAssetBundle("ournameismud\\rateme\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/ournameismud/rate-me/blob/master/README.md" %}

{% set title = "Rate Me ratings" %}

{% set pluginCpUrl = url('rate-me') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@ournameismud/rateme/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('rate-me') }}</a>
    </div>
{% endset %}

{% set content %}
	{% set ratings = craft.rateMe.getRatings %}
	{% if ratings %}
	<table>
		<tr>
			<th>Element</th>
			<th>Rating</th>
			<th>Owner</th>
		</tr>
	{% for rating in ratings %} 
		<tr>
			<td>{{ rating.element }}</td>
			<td>{{ rating.rate }}</td>
			<td>{{ rating.owner }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
{% endset %}
